<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839480297796-glso0k8lhi20llnd9ouu434fnr4hhp4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839480297796-glso0k8lhi20llnd9ouu434fnr4hhp4o</string>
	<key>API_KEY</key>
	<string>AIzaSyAHjkuvMuzARu-CARPZaTrpXfa7cK7PLUM</string>
	<key>GCM_SENDER_ID</key>
	<string>839480297796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uedasoft.loginDemo</string>
	<key>PROJECT_ID</key>
	<string>logindemo-a3d5c</string>
	<key>STORAGE_BUCKET</key>
	<string>logindemo-a3d5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839480297796:ios:6b16347dbcd0f770d7ef11</string>
	<key>DATABASE_URL</key>
	<string>https://logindemo-a3d5c.firebaseio.com</string>
</dict>
</plist>